<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Injection Defense Methods</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">SQL Injection Defense Methods</h1>
        <div class="form-group">
		<a href="/parametrized" class="list-group-item list-group-item-action">Parametrized Statements</a><br>
		<a href="/stored_procedure" class="list-group-item list-group-item-action">Stored Procedure</a><br>
		<a href="/whitelist_validation" class="list-group-item list-group-item-action">White-list Validation</a><br>
		<a href="/escaping" class="list-group-item list-group-item-action">Escaping User Input</a><br>
        </div>
    </div>
</body>
</html>

